.block {
  padding-top: 73px;
  @media (max-width: 767.98px) {
    padding-top: 30px;
  }
  .box {
    margin-top: 45px;
    position: relative;

    @media (max-width: 767.98px) {
      margin-top: 20px;
    }
  }
}
