// header部分
$navHeight: 100px;
$navFontSize: 15px;
$itemHeight: 45px;
[data-v='custom-header'].header-box {
  .header {
    width: 100%;
    height: $navHeight;
    // background-color: rgba($color: #000000, $alpha: 0.25);
    background-color: #003148;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $headerZIndex;
    .content {
      width: $maxWidth;
      height: $navHeight;
      margin: 0 auto;
      padding-top: $navHeight/2 - $itemHeight/2;
      box-sizing: border-box;
      .logo {
        float: left;
        width: 200px;
        height: $itemHeight;
        display: block;
        & > img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .nav {
        float: right;
        font-size: 0;
        .item {
          width: 100px;
          height: $itemHeight;
          line-height: $itemHeight;
          border-radius: 10px;
          margin-right: 10px;
          display: inline-block;
          text-align: center;
          background-color: rgba($color: $baseColor, $alpha: 0);
          transition: all 0.2s;
          font-size: $navFontSize;
          color: #ffffff;
          &.active,
          &:hover {
            background-color: $baseColor;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .operate {
        display: none;
      }
    }
  }
  &.has-height {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: $navHeight;
    }
  }
  @media (max-width: 767.98px) {
    $maxWidth: 100vw;
    $navHeight: 15vw;
    $itemHeight: 7vw;
    .header {
      height: $navHeight;
      max-height: 100px;
      .content {
        width: $maxWidth;
        height: $navHeight;
        padding: 0 3vw;
        padding-top: $navHeight/2 - $itemHeight/2;
        .logo {
          width: $itemHeight * 200/45;
          height: $itemHeight;
        }
        .nav {
          width: 100vw;
          height: 100vh;
          position: fixed;
          background-color: rgba($color: #003148, $alpha: 0.95);
          left: 0;
          top: 15vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding-top: 50px;
          box-sizing: border-box;
          display: none;
          .item {
            margin-right: 0;
            &:hover {
              background-color: transparent;
            }
          }
        }
        .operate {
          height: 20px;
          width: 20px;
          display: block;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
[data-v='custom-footer'].footer-box {
  width: 100%;
  height: 295px;
  min-width: $maxWidth + 30px;
  background-color: #2d2f39;
  position: relative;
  .top {
    width: $maxWidth;
    margin: 0 auto;
    padding-top: 46px;
    font-size: 0;
    .nav {
      width: 270px;
    }
    .links {
      width: 360px;
    }
    & > .item {
      display: inline-block;
      font-size: 0;
      vertical-align: top;
      .title {
        font-size: 18px;
        line-height: 1;
        color: #ffffff;
        margin-bottom: 25px;
      }
      .m-title {
        display: inline-block;
        width: 50%;
        font-size: 14px;
        color: #fff;
        margin-bottom: 17px;
        word-break: break-all;
        line-height: 1.1;
      }
    }
    .concat {
      width: 250px;
      .m-title {
        display: block;
        width: 100%;
        cursor: default;
      }
    }
    .ewm {
      font-size: 0;
      .box {
        display: inline-block;
        margin-right: 15px;
        img {
          width: 100px;
          height: 100px;
        }
        &:last-child {
          margin-right: 0;
        }
        p {
          font-size: 14px;
          line-height: 27px;
          letter-spacing: 0px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 52px;
    line-height: 52px;
    border-top: 2px solid rgba($color: #121215, $alpha: 0.48);
    text-align: center;
    cursor: default;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: rgba($color: #fff, $alpha: 0.8);
    a {
      color: rgba($color: #fff, $alpha: 0.8);
    }
    .company {
      margin-right: 210px;
    }
    & > div {
      display: inline-block;
    }
  }
  @media (max-width: 767.98px) {
    $maxWidth: 100vw;
    min-width: $maxWidth;
    height: min-content;
    padding-bottom: 40px;
    .top {
      width: 76vw;
      padding-top: 40px;
      padding-left: 0;
      padding-right: 0;
      .nav {
        width: 100%;
        margin-bottom: 20px;
      }
      & > .item {
        .title {
          font-size: 12px;
          margin-bottom: 18px;
        }
        .content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .m-title {
          width: 30%;
          font-size: 9px;
          color: #fff;
          margin-bottom: 10px;
          &:nth-child(3n + 2) {
            text-align: center;
          }
          &:nth-child(3n + 3) {
            text-align: right;
          }
        }
      }
      .links {
        width: 100%;
        margin-bottom: 20px;
        .m-title {
          width: 25%;
          font-size: 9px;
          color: #fff;
          margin-bottom: 10px;
          text-align: center;
          &:nth-child(4n + 1) {
            text-align: left;
          }
          &:nth-child(3n + 3) {
            text-align: center;
          }
          &:nth-child(4n + 4) {
            text-align: right;
          }
          &.blank {
            opacity: 0;
            height: 0px;
          }
        }
        .content {
          &::after {
            content: '';
            display: block;
            width: 25%;
            height: 1px;
          }
        }
      }
      .concat {
        width: 100%;
        margin-bottom: 20px;
        .m-title {
          display: block;
          width: 100%;
          cursor: default;
          &:nth-child(4n + 1) {
            text-align: left;
          }
          &:nth-child(3n + 2) {
            text-align: left;
          }
          &:nth-child(3n + 3) {
            text-align: left;
          }
          &:nth-child(4n + 4) {
            text-align: left;
          }
        }
      }
      .ewm {
        font-size: 0;
        float: initial;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: center;
        .box {
          $boxWidth: 85px;
          display: inline-block;
          margin-right: 10px;
          width: $boxWidth;
          img {
            width: $boxWidth;
            height: $boxWidth;
          }
          &:last-child {
            margin-right: 0;
          }
          p {
            font-size: 11px;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }
    .bottom {
      height: 40px;
      line-height: 1.2;
      border-top: 1px solid rgba($color: #121215, $alpha: 0.48);
      font-size: 9px;
      .company {
        margin-right: 10px;
        margin-top: 6px;
      }
      & > div {
        display: block;
      }
    }
  }
}
[data-v='custom-right'].right {
  position: absolute;
  right: -100px;
  top: 0;
  width: $maxWidth - 230px - 850px+100px;
  padding-left: 30px;
  box-sizing: border-box;
  img {
    width: 168px;
    height: 168px;
    margin-bottom: 60px;
    display: block;
  }
  p {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #454545;
    word-break: break-all;
  }

  @media (max-width: 767.98px) {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    padding-left: 0;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
    display: none;
    img {
      width: 30vw;
      height: 30vw;
      margin-bottom: 10px;
      display: inline-block;
    }
    p {
      font-size: 12px;
      line-height: 27px;
      letter-spacing: 0px;
      color: #454545;
      word-break: break-all;
    }
  }
}
[data-v='custom-left'].left {
  width: 150px;
  min-height: 1px;
  .item {
    padding: 10px 5px;
    width: 130px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    color: #858585;
    margin-bottom: 15px;
    a {
      color: #858585;
      @include text-overflow(1, 1.1);
    }
    &.active {
      width: 130px;
      background-image: linear-gradient(#c4c4c4, #c4c4c4),
        linear-gradient(#469dff, #469dff);
      background-blend-mode: normal, normal;
      border-radius: 10px;
      a {
        color: #fff;
      }
    }
  }
  @media (max-width: 767.98px) {
    margin-bottom: 30px;
    margin-top: 15px;
    // width: 30%;
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    box-sizing: border-box;
    &:empty{
      display: none;
    }
    .item {
      font-size: 12px;
      padding: 5px 10px;
      max-width: initial;
      width:initial;
      margin: 0;
      color: #858585;
      margin-bottom: 5px;
      &.active {
        width:initial;
        max-width: initial;
        border-radius: 5px;
      }
    }
  }
}
[data-v='custom-nav'].nav {
  font-size: 0;
  .name {
    display: inline-block;
    font-size: 18px;
    color: #858585;
    &:nth-child(1) {
      background-color: $baseColor;
      border-radius: 10px;
      padding: 10px 0;
      width: 130px;
      text-align: center;
      color: #fff;
      .text {
        @include text-overflow(1, 1, 18px);
      }
    }
    &.article-name {
      font-size: 16px;
    }
  }
  .back {
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0px;
    color: #858585;
    margin-right: $maxWidth - 230px - 800px - 20px;
  }
  .right {
    width: 40px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: text-bottom;
    &::after {
      content: '>';
      display: inline-block;
      transform: scaleY(1.6);
      color: #858585;
    }
  }

  @media (max-width: 767.98px) {
    font-size: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #eee;
    padding-bottom: 12px;
    .name {
      font-size: 12px;
      flex-shrink: 0;
      &:nth-child(1) {
        background-color: $baseColor;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        width: initial;
      }
      &.article-name {
        font-size: 12px;
        flex-shrink: 1;
        @include text-overflow(1, 1.1);
      }
    }
    .back {
      display: none;
      font-size: 10px;
      line-height: 38px;
      letter-spacing: 0px;
      color: #858585;
      margin-right: $maxWidth - 230px - 800px - 20px;
    }
    .right {
      flex-shrink: 0;
      width: 16px;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      margin-top: -6px;
      &::after {
        content: '>';
        display: inline-block;
        transform: scaleY(1.6);
        font-size: 10px;
        color: #858585;
      }
    }
  }
}
[data-v='custom-center'].center {
  width: 930px;
  box-sizing: border-box;
  padding: 0 40px;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  min-height: 70vh;
  padding-bottom: 70px;
  position: relative;
  .article {
    &-title {
      font-size: 22px;
      line-height: 1;
      letter-spacing: 4px;
      color: #2e2e2e;
      padding-right: 20px;
      border-bottom: 1px solid $baseColor;
      display: inline-block;
      word-break: keep-all;
      padding-bottom: 12px;
    }
    &-content {
      word-break: break-all;
      line-height: 1.3;
      margin-top: 30px;
      color: #838383;
    }
  }
  @media (max-width: 767.98px) {
    // width: 70%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    border-left: none;
    border-right: none;
    min-height: initial;
    padding-bottom: 60px;
    .article {
      &-title {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 4px;
        color: #2e2e2e;
        padding-right: 40px;
        border-bottom: 1px solid $baseColor;
        display: inline-block;
        word-break: break-all;
        padding-bottom: 8px;
      }
      &-content {
        word-break: break-all;
        line-height: 1.3;
        margin-top: 20px;
        color: #838383;
      }
    }
  }
}
[data-v='custom-page'].page {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #191919;
  & > div {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    a {
      color: #191919;
    }
    &:last-child {
      margin-right: 0;
    }
    &.btn {
      cursor: pointer;
    }
  }
  @media (max-width: 767.98px) {
    right: 10px;
    bottom: 20px;
    & > div {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px;
      a {
        color: #191919;
      }
    }
  }
}
.app-main {
  min-width: $maxWidth + 30px;
  overflow: hidden;
  & > .block,
  & > .block-img .block {
    width: $maxWidth + 30px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    cursor: default;
  }
  & > .block-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 767.98px) {
    $maxWidth: 100vw;
    min-width: $maxWidth;
    & > .block,
    & > .block-img .block {
      width: $maxWidth;
    }
  }
}
.swiper-pagination {
  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
    margin: 0 10px !important;
    &-active {
      background-color: #ffffff;
    }
    @media (max-width: 767.98px) {
      width: 7px;
      height: 7px;
      margin: 0 5px !important;
    }
  }
}
h1 {
  &.title {
    color: $baseColor;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 6px;
    text-align: center;
    text-indent: 6px;
    cursor: default;
  }
  @media (max-width: 767.98px) {
    &.title {
      font-size: 20px;
      letter-spacing: 3px;
      text-indent: 3px;
    }
  }
}
h2 {
  &.title {
    font-size: 19px;
    line-height: 1.05;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
    word-break: break-all;
    cursor: default;
  }
  @media (max-width: 767.98px) {
    &.title {
      font-size: 13px;
      line-height: 1.05;
      margin-top: 2px;
    }
  }
}
[data-v='custom-blank'].blank {
  width: 100%;
  height: 100px;
  background-color: #fff;
  @media (max-width: 767.98px) {
    height: 15vw;
    max-height: 100px;
  }
}
.clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}
button.btn {
  a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 47px;
    @media (max-width: 767.98px) {
      line-height: 23px;
    }
  }
}
