/*
 * @Description: 
 * @Author: jml
 * @Date: 2020-06-22 21:30:39
 * @LastEditors: jml
 * @LastEditTime: 2020-10-19 22:34:12
 */
body {
  cursor: default;
  min-width: $mainBoxWidth;
}
.full-block {
  width: 100%;
  // &::after {
  //   content: '';
  //   display: inline-block;
  //   clear: both;
  // }
}
.main-block {
  width: $mainBoxWidth;
  box-sizing: border-box;
  padding: 0 $padding;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  // &::after {
  //   content: '';
  //   display: inline-block;
  //   clear: both;
  // }
}
.banner-block {
  width: 100%;
  min-width: $mainBoxWidth;
  img {
    width: 100%;
    height: 100%;
  }
}

$headerHeight: 70px;
.header-blank-block {
  width: 100%;
  height: $headerHeight;
}
#custom-header {
  z-index: 5;
  $counterWidth: 106px;
  $counterHeight: 21px;
  $searchWidth: 112px;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  .main-block {
    font-size: 0;
    transition: all 0.3s linear;
    overflow: initial;
    .logo {
      width: 100px;
      height: 27px;
      margin-top: 20px;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    nav {
      width: $maxWidth - $searchWidth - $counterWidth - 10px - 1px;
      height: 100%;
      display: inline-block;
      text-align: right;
      padding-right: 17px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      font-size: 0;
      .item {
        font-size: 16px;
        color: $color6;
        display: inline-block;
        padding: 0 30px;
        height: 100%;
        line-height: $headerHeight;
        box-sizing: border-box;
        transition: all 0.3s;
        position: relative;
        .child {
          opacity: 0;
          width: 100%;
          left: 0;
          top: $headerHeight - 4px;
          position: absolute;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          background-color: #fff;
          transition: all 0.3s 0.3s;
          display: none;
          // &::before {
          //   content: '';
          //   width: 100%;
          //   height: 4px;
          //   background-color: $baseColor;
          //   display: block;
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          // }
          .child-i {
            height: 48px;
            line-height: 48px;
            width: 100%;
            text-align: center;
            border-top: 1px solid #d8d8d8;
            &:first-child {
              border-top: none;
              // border-top: 4px solid $baseColor;
            }
          }
        }
        > a {
          color: $color6;
        }
        &:hover,
        &.active {
          // box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.12);
          > a {
            color: $baseColor;
            font-weight: bold;
          }
        }
        &:hover {
          .child {
            display: flex;
            opacity: 1;
            .child-i {
              &:hover {
                color: $baseColor;
              }
            }
          }
        }
        // &.active {
        //   border-bottom: 2px solid $baseColor;
        // }
      }
      .hr {
        pointer-events: none;
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: $baseColor;
        transition: all 0s;
        transform-origin: 50% 50%;
        left: 50px;
        bottom: 0px;
        opacity: 0;
      }
    }
    .search-btn {
      display: inline-block;
      width: $searchWidth;
      height: 30px;
      text-align: center;
      border-left: 1px solid rgba(227, 227, 227, 1);
      .search-icon {
        width: 18px;
        height: 18px;
        margin-top: 6px;
        display: inline-block;
        cursor: pointer;
      }
    }
    .options {
      display: inline-block;
      width: $counterWidth;
      height: $counterHeight;
      background-color: #fff;
      position: relative;
      // overflow: hidden;
      .item {
        cursor: pointer;
        font-size: 0;
        margin-bottom: 6px;
        height: $counterHeight;
        background-color: #fff;
        padding: 5px 10px;
        span {
          height: $counterHeight;
          line-height: 21px;
          width: 50px;
          text-align: center;
          display: inline-block;
          font-size: 14px;
        }
        span,
        .icon {
          vertical-align: top;
        }
        .icon {
          margin-top: 5px;
        }
        &:last-child {
          padding-top: 15px;
          position: absolute;
          left: 0;
          top: $counterHeight;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          opacity: 0;
          transition: all 0.3s;
        }
        .flag {
          width: 20px;
          height: 20px;
          border-radius: 100%;
        }
      }
      &:hover {
        .item {
          &:last-child {
            opacity: 1;
          }
        }
      }
      &::after {
        content: '';
        width: 5px;
        height: 5px;
        border-right: 2px solid $color3;
        border-bottom: 2px solid $color3;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translateX(-100%);
      }
    }
  }
}

.common-title {
  text-align: center;
  position: relative;
  h2 {
    color: $color3;
    font-size: 28px;
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }
  h4 {
    color: $color9;
    margin-top: 15px;
    font-size: 10px;
    font-weight: normal;
  }
  &::after,
  &::before {
    content: '';
    width: 106px;
    height: 1px;
    background-color: rgba($color: $color6, $alpha: 0.2);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }
  &::before {
    left: 350px;
  }
  &::after {
    right: 350px;
  }
}
.hover-img {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
.hover-btn {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: 0 0;
    background-color: $baseColor;
    transition: all 0.3s;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:hover {
    color: #fff !important;
    &::after {
      transform: scaleX(1);
    }
  }
}
#to-top {
  position: fixed;
  right: 34px;
  bottom: 170px;
  display: none;
  z-index: 9;
  cursor: pointer;
}

.av-container {
  width: 100%;
  // height: 100%;
}

.contact-us {
  padding-bottom: 100px;
  .common-title {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .left {
    width: 457px;
    height: 254px;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    width: 570px;
    float: right;
    .icon-group {
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 41px;
    }
    .info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 30px;
      font-size: 14px;
      font-weight: 300;
      color: rgba(188, 188, 188, 1);
      line-height: 1.2;
      p {
        width: 50%;
      }
    }
  }
}

.custom-footer {
  background-color: #1c202c;
  padding-top: 45px;
  .top {
    display: flex;
    justify-content: space-between;
    .icon-group {
      width: 240px;
      display: flex;
      justify-content: space-between;
    }
    padding-bottom: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .bottom {
    display: flex;
    padding-top: 47px;
    padding-bottom: 58px;
    padding-right: 200px;
    position: relative;
    .item {
      width: 150px;
      display: flex;
      flex-direction: column;
      &.link-item {
        position: absolute;
        top: 47px;
        right: 0;
        width: 198px;
        #link-form {
          .layui-form-select {
            width: 198px;
            &::after {
              content: none;
            }
            .layui-input {
              font-size: 10px;
              height: 30px;
              background-color: transparent;
              border: 1px solid #525a63;
              color: #999999;
            }
            dl {
              font-size: 10px;
              color: #999;
              background-color: #1c202c;
              dd {
                &:hover {
                  background-color: rgba($color: $baseColor, $alpha: 0.2);
                }
                &.layui-this {
                  background-color: $baseColor;
                }
              }
            }
          }
        }
      }
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      line-height: 1;
      margin-bottom: 19px;
    }
    .s {
      font-size: 10px;
      color: rgba(153, 153, 153, 1);
      line-height: 1;
      margin-bottom: 13px;
    }
    .icon-group {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
      bottom: 58px;
      right: 0;
      .item {
        padding: 0;
        margin-right: 20px;
        width: 22px;
        height: 22px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .beian {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 47px;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: rgba(211, 211, 211, 1);
    line-height: 47px;
    a {
      color: #fff;
    }
  }
}

.banner-normal {
  width: 100%;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#pages {
  height: 24px;
  padding: 20px 0 60px;
  a {
    width: 26px;
    height: 26px;
    display: block;
    line-height: 24px;
    text-align: center;
    float: left;
    margin-right: 5px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: $color9;
    &.active {
      color: $baseColor;
    }
  }
}

.layui-breadcrumb {
  font-size: 12px;
  color: $color9;
  position: absolute;
  right: $padding;
  top: 0;
  a {
    &:hover {
      color: $baseColor !important;
    }
  }
}

.layui-layer-btn .layui-layer-btn0 {
  background-color: $baseColor !important;
  border-color: $baseColor !important;
}

.searchbox {
  display: inline-block;
  position: relative;
}
.searchbox-input {
  width: 254px;
  height: 51px;
  margin-right: 31px;
  padding-right: 30px;
}
.searchbox-btn {
  position: absolute;
  border: none;
  top: 0;
  border-radius: 2px;
  background: #fff;
  color: #fff;

  width: 51px;
  height: 51px;
  position: absolute;
  background-image: url('../img/组 23229.png');
  background-size: 100% 100%;
  top: 0;
  right: 30px;
  .layui-icon {
    display: none;
  }
}
.v2-car-tab.car-tab .layui-tab-title {
  height: 72px;
}
.v2-car-tab.car-tab .layui-tab-title > li {
  width: 240px;
  height: 72px;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.v2-car-tab.car-tab .layui-tab-title > li .bg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  z-index: -1;
}
.v2-car-tab.car-tab .layui-tab-title > li:nth-child(2) {
  transform: translateX(-30px);
}
.v2-car-tab.car-tab .layui-tab-title > li:nth-child(3) {
  transform: translateX(-60px);
}
.v2-car-tab.car-tab .layui-tab-title > li:last-child .bg-icon {
  margin-top: 0 !important;
}
.v2-car-tab.car-tab .layui-tab-title > li.layui-this {
  background-color: transparent;
}
.v2-car-tab .layui-tab-title > li > img {
  height: 21px;
  margin-top: 28px;
}
.v2-car-tab .layui-tab-title > li:last-child > img {
  height: 29px;
  margin-top: 22px !important;
}
.v2-car-tab .choose-icon,
.v2-car-tab .choose-bg-icon {
  display: none;
}
.v2-car-tab .layui-this > img {
  display: none;
}
.v2-car-tab .layui-this .choose-icon {
  display: inline-block;
}
.v2-car-tab .layui-this .choose-bg-icon {
  display: inline-block;
}
.v2-car-tab.car-tab > .tt-title {
  position: absolute;
  right: 0;
  top: 30px;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.layui-tab-content {
  background-image: url('../img/组 2212.png');
  background-size: 100% 100%;
  padding: 0 28px;
  height: 170px;
  display: flex;
  align-items: center;
  .layui-form-select {
    width: 254px;
    height: 51px;
    margin-right: 33px;
    .layui-select-title {
      height: 100%;
    }
    .layui-input {
      height: 100%;
    }
    dl {
      top: 51px;
    }
  }
}
.layui-form-select,
.searchbox {
  position: relative;
}
.layui-form-select::after {
  content: '';
  width: 51px;
  height: 51px;
  position: absolute;
  background-image: url('../img/组 23229.png');
  background-size: 100% 100%;
  top: 0;
  right: 30px;
  pointer-events: none;
}
.layui-form-select::after {
  right: 0;
  transform: rotate(90deg);
}

.v2-search-list {
  .layui-form-select dl {
    top: 42px !important;
    bottom: auto !important;
  }
  .s-group {
    padding: 20px 0;
    font-size: 14px;
  }
  .s-group .layui-form-select {
    margin-bottom: 10px;
  }
  .s-group .layui-form-select:last-child {
    margin-right: 0;
  }
  .s-group .layui-form-select dl dd.layui-this {
    background-color: $baseColor;
  }
  .s-goods-group {
    display: flex;
    background-color: #fff;
  }
  .s-goods-group .left {
    flex: 0 1 220px;
    margin-right: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    height: min-content;
    display: none;
  }
  .s-goods-group .left .title {
    background-color: #47535f;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }
  .s-goods-group .left .hr {
    padding: 5px;
    border-bottom: 1px solid #47535f;
  }
  .s-goods-group .right {
    flex: 1 1 auto;
  }
  .s-goods-group .right .g-item {
    border-bottom: 5px solid #47535f;
    /* margin-bottom: 20px; */
    min-height: 170px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .s-goods-group .right .g-item .img {
    width: 220px;
    height: 150px;
    flex: 0 1 220px;
    margin-right: 20px;
    display: block;
  }
  .s-goods-group .right .g-item .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
  }
  .s-goods-group .right .g-item .img img:first-child {
    display: block;
  }
  .s-goods-group .right .g-item .info {
    flex: 1 1 auto;
  }
  .s-goods-group .right .g-item .info .title {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 20px;
  }
  .s-goods-group .right .g-item .info .title span:nth-child(1) {
    color: #47535f;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .s-goods-group .right .g-item .info .title span:nth-child(1):hover {
    text-decoration: underline;
  }
  .s-goods-group .right .g-item .info .title span:nth-child(2) {
    color: #959595;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
  }
  .s-goods-group .right .g-item .info .t-item-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .s-goods-group .right .g-item .info .t-item-group .t-item {
    width: 50%;
    font-size: 13px;
    color: #47535f;
    font-weight: bold;
    padding: 8px 0;
    padding-right: 15px;
    word-break: break-all;
    box-sizing: border-box;
  }
  .s-goods-group .right .g-item .info .t-item-group .t-item .desc {
    font-weight: normal;
  }
  .layui-form-select:after {
    display: none;
  }
}
