@font-face {
  font-family: 'latob';
  src: url('~@/assets/font/Lato-Bold.ttf'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
  font-family: 'lator';
  src: url('~@/assets/font/Lato-Regular.ttf'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.lato-b {
  font-family: latob;
}

.lato-r {
  font-family: lator;
}
