$baseColor: #2D5DA1;
$mainBoxWidth: 1200px;
$padding: 15px;
$maxWidth: 1170px;

$headerZIndex: 999;

$color3: #333;
$color6: #666;
$color7: #707278;
$color9: #959595;

.swiper-container {
  --swiper-theme-color: #2D5DA1;
  --swiper-pagination-color: #2D5DA1; /* 两种都可以 */
}
