.block {
  padding-top: 73px;
  @media (max-width: 767.98px) {
    padding-top: 30px;
  }
  .box {
    margin-top: 45px;
    position: relative;

    @media (max-width: 767.98px) {
      margin-top: 20px;
    }
  }
  .group {
    font-size: 0;
    .item {
      font-size: 16px;
      display: inline-block;
      width: 152px;
      height: 205px;
      margin-right: 20px;
      margin-bottom: 20px;
      line-height: 0;
      transition: box-shadow 0.3s;
      &.blank{
        opacity: 0;
        height: 0;
      }
      &:nth-child(5n + 5) {
        margin-right: 0;
      }
      & > img {
        width: 100%;
        height: 160px;
        transition: transform 0.3s;
        position: relative;
        z-index: 1;
        transform: scale(1) translateZ(0);
        border-radius: 50%;
        transition: transform 0.3s;
      }
      .name {
        margin-top: 20px;
        font-size: 20px;
        letter-spacing: 3px;
        color: #000000;
        text-align: center;
        @include text-overflow(1, 1.1);
      }
      &:hover {
        & > img {
          transform: scale(1.1) translateZ(0);
        }
      }
    }

    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .item {
        font-size: 16px;
        width: 25vw;
        height: min-content;
        margin-right: 0;
        margin-bottom: 20px;
        & > img {
          width: 100%;
          height: 25vw;
        }
        .name {
          margin-top: 10px;
          font-size: 13px;
        }
        &:hover {
          & > img {
            transform: scale(1) translateZ(0);
          }
        }
      }
      &::after {
        content: '';
        display: block;
        width: 25vw;
        height: 1px;
      }
    }
  }
}
