<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-06-23 01:44:05
 * @LastEditors: jml
 * @LastEditTime: 2020-06-23 01:53:45
-->
<div class="full-block contact-us">
  <div class="main-block">
    <div class="common-title aniview" data-av-animation="fadeInUp">
      <h2><span>联系</span> 我们</h2>
      <h4>CONTACT US</h4>
    </div>
    <div class="left">
      <img
        src="http://placehold.it/584x370"
        alt=""
        class="hover-img aniview"
        data-av-animation="fadeInUp"
      />
    </div>
    <div class="right">
      <div class="icon-group aniview" data-av-animation="fadeInUp">
        <div class="item">
          <img src="<%= require('../assets/img/weibo (1).png').default %>" />
        </div>
        <div class="item">
          <img src="<%= require('../assets/img/qq (2).png').default %>" />
        </div>
        <div class="item">
          <img src="<%= require('../assets/img/weixinfill.png').default %>" />
        </div>
      </div>
      <div class="info aniview" data-av-animation="fadeInUp">
        <p>这里是地址这里是地址这里是地址...</p>
        <p>手机：15052452245 / 4540212020</p>
      </div>
      <div class="info aniview" data-av-animation="fadeInUp">
        <p>020-000000</p>
        <p>邮箱：1245@524540.com</p>
      </div>
      <div class="info aniview" data-av-animation="fadeInUp">
        <p>传真：000-1020313212</p>
      </div>
      <div class="info aniview" data-av-animation="fadeInUp">
        <p>邮编：100000</p>
      </div>
    </div>
  </div>
</div>
