<head>
  <meta charset="utf-8" />
  <title>Creator Meets Edifier | Edifier Global</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="Creator Meets Edifier | Edifier Global"/>
  <meta name="description" content="Creativity works inextricably with music. EDIFIER launches a long-term project—#CreatorMeetsEdifier for creators from all over the world to share their story."/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
  <meta name="screen-orientation" content="portrait" />
  <!-- uc强制竖屏 -->
  <meta name="x5-orientation" content="portrait" />
  <!-- QQ强制竖屏 -->
  <link rel="shortcut icon" href="https://usa-oss.edifier.com/Uploads/images/2022/06/23/2022062310514516559527052250.png" type="image/x-icon">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PHB25K4');</script>
  <!-- End Google Tag Manager -->
  <script>
    ;(function (win, doc) {
      function changeSize() {
        doc.documentElement.style.fontSize =
          Math.max(Math.min(doc.documentElement.clientWidth / 10, 50), 37.5) + 'px'
      }
      changeSize()
      win.addEventListener('resize', changeSize, false)
    })(window, document)
  </script>
</head>
