<div class="right float-right" data-v="custom-right">
  <img src="<%= require('../assets/img/test.png').default %>" alt="wx" />
  <img src="<%= require('../assets/img/test.png').default %>" alt="wx" />
  <p>电话：029-10000000</p>
  <p>邮箱：XXXXXX@QQ.com</p>
  <p>地址：XXXXXXXXXXXXXXXX</p>
</div>
