<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-06-22 21:54:28
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <%= require('../../templates/head.ejs')('首页') %>
  <body>
    <%= require('../../templates/header.ejs')() %>
    <div class="page-test">
      <h1>page-test</h1>
      <div class="box" style="height: 4000px;">multi-language</div>
    </div>
    <%= require('../../templates/footer.ejs')() %>
  </body>
</html>
