<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-05-24 10:40:13
--> 
<!DOCTYPE html>
<html lang="zh-CN">
  <%= require('../../templates/head.ejs')('首页') %>
  <body>
    <%= require('../../templates/header.ejs') %>
    <div class="page-test">
      <h1>page-test</h1>
    </div>
    <%= require('../../templates/footer.ejs') %>
  </body>
</html>
