.full-block-1 {
  background-color: #f7f7f7;
  .main-block{
    padding-bottom: 60px;
  }
  .common-title {
    padding-bottom: 50px;
    padding-top: 63px;
  }
  .car-tab {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 3;
    .layui-tab-title {
      height: 63px;
      border: none;
      li {
        width: 243px;
        height: 63px;
        line-height: 1;
        background-color: #fff;
        img {
          margin-top: 23px;
        }
        &:last-child {
          img {
            margin-top: 18px;
          }
        }
      }
      .layui-this {
        background-color: #626871;
        &::after {
          display: none;
        }
      }
    }
    .layui-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .layui-form-select dl dd.layui-this {
      background-color: $baseColor;
    }
    .layui-tab-content {
      background-color: #626871;
      padding: 36px 28px;
      .layui-form-select {
        width: 254px;
        height: 51px;
        margin-right: 33px;
        .layui-select-title {
          height: 100%;
        }
        .layui-input {
          height: 100%;
        }
        dl {
          top: 51px;
        }
      }
    }
  }
  .goods-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45px;
    position: relative;
    z-index: 1;
    .item {
      width: 380px;
      height: 219px;
      margin-right: 15px;
      margin-bottom: 15px;
      background-color: color;
      overflow: hidden;
      display: none;
      position: relative;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
      .info {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        box-sizing: border-box;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.6);
          display: block;
          opacity: 0;
          transition: all 0.2s;
          z-index: 1;
        }
        .title {
          margin-bottom: 10px;
          z-index: 2;
          position: relative;
          font-weight: bold;
          font-size: 18px;
          opacity: 0;
        }
        .desc {
          font-size: 14px;
          z-index: 2;
          position: relative;
          opacity: 0;
        }
      }
      &:hover {
        .info {
          &::after {
            opacity: 1;
          }
          .title {
            animation: fadeInDown 0.3s forwards;
          }
          .desc {
            animation: fadeInUp 0.3s forwards;
          }
        }
      }
    }
  }
  .more-btn {
    width: 256px;
    height: 63px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 300;
    color: rgba(192, 192, 192, 1);
    text-align: center;
    line-height: 63px;
    cursor: pointer;
    display: block;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: 0 0;
      left: 0;
      top: 0;
      z-index: -2;
      background-color: #292d35;
    }
  }
}
.full-block-2 {
  background-color: #fff;
  padding-top: 49px;
  padding-bottom: 100px;
  .common-title {
    padding-bottom: 100px;
  }
  .left {
    width: 525px;
    display: inline-block;
    h2 {
      line-height: 1;
      padding-bottom: 22px;
      font-size: 28px;
      color: $color3;
    }
    p {
      color: $color6;
      font-size: 16px;
      padding-bottom: 35px;
      line-height: 26px;
    }
    .icon-group {
      font-size: 0;
      margin-top: 14px;
      .item {
        color: $color3;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        margin-right: 70px;
        p {
          margin-top: 11px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .right {
    width: 584px;
    height: 370px;
    float: right;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.full-block-3 {
  padding-top: 11px;
  .main-block{
    padding-bottom: 60px;
  }
  .common-title {
    padding-bottom: 90px;
  }
  .top {
    .title {
      max-width: 80%;
      display: inline-block;
      font-size: 18px;
      color: $color3;
      line-height: 1.2;
    }
    .time {
      float: right;
      font-size: 14px;
      color: $color7;
      margin-top: 4px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: $color7;
    line-height: 25px;
    transition: all 0.3s;
  }
  .left {
    width: 525px;
    display: inline-block;
    img {
      width: 525px;
      height: 288px;
    }
    .top {
      margin-top: 34px;
    }
    p {
      margin-top: 20px;
    }
    .btn {
      margin-top: 58px;
      width: 171px;
      height: 48px;
      border: 1px solid rgba(153, 153, 153, 1);
      text-align: center;
      line-height: 48px;
      font-size: 14px;
      font-weight: 300;
      color: $color7;
      cursor: pointer;
    }
    &:hover {
      p {
        padding-left: 30px;
        border-left: 1px solid 1px solid #e2e2e2;
      }
    }
  }
  .right {
    width: 600px;
    float: right;
    .av-container {
      &:first-of-type {
        .item {
          padding-top: 0;
        }
      }
    }
    .item {
      padding-bottom: 25px;
      padding-top: 58px;
      border-bottom: 1px solid #e2e2e2;
      transition: all 0.3s;
      cursor: pointer;
      .info {
        width: 450px;
        display: inline-block;
        vertical-align: top;
        padding-left: 24px;
        box-sizing: border-box;
      }
      p {
        margin-top: 15px;
      }
      &:hover {
        padding-left: 20px;
      }
    }
  }
  .more-btn {
    width: 256px;
    height: 63px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 300;
    color: rgba(192, 192, 192, 1);
    text-align: center;
    line-height: 63px;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: 0 0;
      left: 0;
      top: 0;
      z-index: -2;
      background-color: #292d35;
    }
  }
}

.full-block-4 {
  padding-top: 62px;
  padding-bottom: 70px;
  background-color: #f7f7f7;
  position: relative;
  .main-block {
    width: $maxWidth;
    padding: 0;
    height: 300px;
    .swiper-slide {
      font-size: 0;
      line-height: 0;
      background-color: #fff;
      a {
        display: inline-block;
        width: $maxWidth/4;
        height: 150px;
        .av-container {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-image: url('../../assets//img/组 207.png');
    left: 50%;
    right: 50%;
    &::after {
      content: '';
    }
  }
  .swiper-button-prev {
    margin-left: -$maxWidth / 2 - 60;
  }
  .swiper-button-next {
    margin-left: $maxWidth / 2 + 20;
  }
  .swiper-button-next,
  .swiper-button-prev.swiper-button-disabled {
    transform: rotate(180deg);
  }
  .swiper-button-next.swiper-button-disabled {
    transform: rotate(0);
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    background-image: url('../../assets//img/组 207 拷贝.png');
    opacity: 1;
  }
}
