@import '~../../assets/scss/mcommon.scss';
.banner-block {
  .swiper-slide {
    width: 9rem !important;
    margin-left: 0.2rem;
    transform: scale(0.9);
    transform-origin: 0 100%;
    transition: all 0.3s;
    border-radius: 0.35rem;
    line-height: 0;
    overflow: hidden;
    &.swiper-slide-active {
      transform: scale(1);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.full-block-1 {
  background-color: #f7f7f7;
  .main-block {
    padding-bottom: 0.6rem;
  }
  .common-title {
    padding-bottom: 0.8rem;
    padding-top: 0.85rem;
  }
  .car-tab {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 3;
    .layui-tab-title {
      height: 1.1rem;
      border: none;
      display: flex;
      li {
        width: 100%;
        height: 1.1rem;
        line-height: 1;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .layui-this {
        background-color: #626871;
        &::after {
          display: none;
        }
      }
    }
    .layui-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
    .layui-form-select dl dd.layui-this {
      background-color: $baseColor;
    }
    .layui-tab-content {
      background-color: #626871;
      padding: 0.36rem 0.4rem;
      .layui-form-select {
        width: 100%;
        height: 0.95rem;
        margin-right: 0;
        margin-top: 0.4rem;
        .layui-select-title {
          height: 100%;
        }
        .layui-input {
          height: 100%;
        }
        dl {
          top: 0.95rem;
        }
      }
    }
  }
  .goods-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    .av-container {
      width: 4.4rem;
      height: 3.21rem;
      margin-bottom: 0.4rem;
    }
    .item {
      width: 4.4rem;
      height: 3.21rem;
      background-color: color;
      overflow: hidden;
      display: none;
      position: relative;
      box-shadow: 0rem 0rem 0.2rem 0rem rgba(225, 225, 225, 0.73);
      border-radius: 0.1rem;
      background-color: #fff;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
      img {
        width: 100%;
        height: 2.2rem;
      }
      .title {
        text-align: center;
        font-size: 0.32rem;
        color: rgba(51, 51, 51, 1);
        padding-top: 0.2rem;
      }
      &:hover {
        .info {
          .title {
            animation: fadeInDown 0.3s forwards;
          }
          .desc {
            animation: fadeInUp 0.3s forwards;
          }
        }
      }
    }
  }
  .more-btn {
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.6rem;
    font-size: 0.37rem;
    font-weight: 300;
    color: #1f2633;
    text-align: center;
    line-height: 0.5rem;
    cursor: pointer;
    display: block;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: 0 0;
      left: 0;
      top: 0;
      z-index: -2;
      background-color: transparent;
    }
  }
}
.full-block-2 {
  background-color: #f7f7f7;
  padding-top: 0.6rem;
  padding-bottom: 0.7rem;
  .common-title {
    padding-bottom: 0;
  }
  .main-block {
    position: relative;
  }
  .a-icon {
    position: absolute;
    width: 1.23rem;
    height: 1.23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $baseColor;
    top: 3.6rem;
    left: 0.33rem;
    img {
      width: 0.6rem;
      height: 0.6rem;
    }
  }
  .a-img {
    width: 100%;
    height: 4.45rem;
    position: relative;
    margin-top: 0.75rem;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .left {
    padding: 0 0.33rem;
    display: inline-block;
    background-color: #fff;
    h2 {
      width: 6.12rem;
      font-size: 0.43rem;
      font-weight: 800;
      color: rgba(51, 51, 51, 1);
      line-height: 0.48rem;
      margin-top: 0.8rem;
      margin-bottom: 0.48rem;
      position: relative;
      padding-left: 0.1rem;
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0.2rem;
        background-image: linear-gradient(
          to right,
          $baseColor,
          transparent 50%
        );
        z-index: -1;
      }
    }
    p {
      font-size: 0.32rem;
      color: rgba(138, 138, 139, 1);
      line-height: 0.56rem;
      position: relative;
    }
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 0.24rem;
      font-weight: 400;
      a {
        color: rgba(175, 38, 47, 1);
      }
    }
  }
}

.full-block-3 {
  display: none;
  padding-top: 11px;
  .main-block {
    padding-bottom: 60px;
  }
  .common-title {
    padding-bottom: 90px;
  }
  .top {
    .title {
      max-width: 80%;
      display: inline-block;
      font-size: 18px;
      color: $color3;
      line-height: 1.2;
    }
    .time {
      float: right;
      font-size: 14px;
      color: $color7;
      margin-top: 4px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: $color7;
    line-height: 25px;
    transition: all 0.3s;
  }
  .left {
    width: 525px;
    display: inline-block;
    img {
      width: 525px;
      height: 288px;
    }
    .top {
      margin-top: 34px;
    }
    p {
      margin-top: 20px;
    }
    .btn {
      margin-top: 58px;
      width: 171px;
      height: 48px;
      border: 1px solid rgba(153, 153, 153, 1);
      text-align: center;
      line-height: 48px;
      font-size: 14px;
      font-weight: 300;
      color: $color7;
      cursor: pointer;
    }
    &:hover {
      p {
        padding-left: 30px;
        border-left: 1px solid 1px solid #e2e2e2;
      }
    }
  }
  .right {
    width: 600px;
    float: right;
    .av-container {
      &:first-of-type {
        .item {
          padding-top: 0;
        }
      }
    }
    .item {
      padding-bottom: 25px;
      padding-top: 58px;
      border-bottom: 1px solid #e2e2e2;
      transition: all 0.3s;
      cursor: pointer;
      .info {
        width: 450px;
        display: inline-block;
        vertical-align: top;
        padding-left: 24px;
        box-sizing: border-box;
      }
      p {
        margin-top: 15px;
      }
      &:hover {
        padding-left: 20px;
      }
    }
  }
  .more-btn {
    width: 256px;
    height: 63px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 22px;
    font-weight: 300;
    color: rgba(192, 192, 192, 1);
    text-align: center;
    line-height: 63px;
    cursor: pointer;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: 0 0;
      left: 0;
      top: 0;
      z-index: -2;
      background-color: #292d35;
    }
  }
}

.full-block-4 {
  display: none;
  padding-top: 62px;
  padding-bottom: 70px;
  background-color: #f7f7f7;
  position: relative;
  .main-block {
    width: $maxWidth;
    padding: 0;
    height: 300px;
    .swiper-slide {
      font-size: 0;
      line-height: 0;
      background-color: #fff;
      a {
        display: inline-block;
        width: $maxWidth/4;
        height: 150px;
        .av-container {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-image: url('../../assets//img/组 207.png');
    left: 50%;
    right: 50%;
    &::after {
      content: '';
    }
  }
  .swiper-button-prev {
    margin-left: -$maxWidth / 2 - 60;
  }
  .swiper-button-next {
    margin-left: $maxWidth / 2 + 20;
  }
  .swiper-button-next,
  .swiper-button-prev.swiper-button-disabled {
    transform: rotate(180deg);
  }
  .swiper-button-next.swiper-button-disabled {
    transform: rotate(0);
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    background-image: url('../../assets//img/组 207 拷贝.png');
    opacity: 1;
  }
}
