<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-06-23 17:48:23
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <%= require('../../templates/head.ejs')('首页') %>
  <body>
    <%= require('../../templates/header.ejs')('./news.html') %>
    <div class="full-block full-block-0">
      <div class="main-block">
        <span class="layui-breadcrumb" lay-separator=">">
          <a href="">首页</a>
          <a href="">国际新闻</a>
          <a href="">亚太地区</a>
          <a><cite>正文</cite></a>
        </span>
      </div>
    </div>
    <div class="full-block full-block-1">
      <div class="main-block">
        <div class="news-info">
          <div class="postInfo">
            <p class="title">
              李克强对“华龙一号”福清核电5号机组建设工作 作出重要批示
            </p>
            <p class="usetdate">
              07-03
            </p>
            <div class="description">
              <p>
                中共中央政治局常委、国务院总理李克强日前对“华龙一号”福清核电5号机组建设工作作出重要批示。批示指出：我国自主研发的三代核电“华龙一号”是推进实施中国制造2025的标志性工程
                ...
              </p>
            </div>
          </div>
          <div class="content">
            <p>
              PH是一种布宜诺斯艾利斯典型的住宅类型，这种住宅以高密度和低楼层著称。
              项目是一个长期规划的收尾性空间，PH Lavalleja
              住宅被邻近的现代主义高层公寓楼包围PH is the name given to a
              traditional housing typology in Buenos Aires, characterised by its
              high density and low rise. Set in the last unit of a long plot, PH
              Lavalleja coexists with the neighbouring free plan, high rise
              residential .
            </p>
            <p>
              PH是一种布宜诺斯艾利斯典型的住宅类型，这种住宅以高密度和低楼层著称。
              项目是一个长期规划的收尾性空间，PH Lavalleja
              住宅被邻近的现代主义高层公寓楼包围PH is the name given to a
              traditional housing typology in Buenos Aires, characterised by its
              high density and low rise. Set in the last unit of a long plot, PH
              Lavalleja coexists with the neighbouring free plan, high rise
              residential .
            </p>
          </div>
          <div id="tabBtn">
            <a href="javascript:;" class="post-prev empty">
              <div class="img-wrap">
                <img
                  src="http://resources.jsmo.xin//templates/upload/3089/201707/1499141130715.jpg"
                  alt=""
                />
              </div>
              <div class="infor-wrap">
                <span class="title">当可持续发展成为估值的一个因素...</span>
                <span class="subtitle"></span>
              </div>
            </a>
            <a href="" class="post-next">
              <div class="img-wrap">
                <img
                  src="http://resources.jsmo.xin//templates/upload/3089/201707/1499141130715.jpg"
                  alt=""
                />
              </div>
              <div class="infor-wrap">
                <span class="title">当可持续发展成为估值的一个因素...</span>
                <span class="subtitle"></span>
              </div>
            </a>
          </div>
        </div>
        <ul class="list">
          <li class="item">
            <a href="">
              <div class="right">
                <div class="title">
                  李克强对“华龙一号”福清核电5号机组建设工作 作出重要批示
                </div>
                <p>
                  中共中央政治局常委、国务院总理李克强日前对“华龙一号”福清核电5号机组建设工作作出重要批示。批示指出：我国自主研发的三代核电“华龙一号”是推进实施中国制造2025的标志性工程
                  ...
                </p>
                <div class="time">07-02</div>
              </div>
            </a>
          </li>
          <li class="item">
            <a href="">
              <div class="right">
                <div class="title">
                  李克强对“华龙一号”福清核电5号机组建设工作 作出重要批示
                </div>
                <p>
                  中共中央政治局常委、国务院总理李克强日前对“华龙一号”福清核电5号机组建设工作作出重要批示。批示指出：我国自主研发的三代核电“华龙一号”是推进实施中国制造2025的标志性工程
                  ...
                </p>
                <div class="time">07-02</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%= require('../../templates/footer.ejs')() %>
  </body>
  <script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
      var element = layui.element
    })
  </script>
</html>
